body {
    margin: 40px auto;
    max-width: 65rem;
    line-height: 1.5;
    font-size: 18px;
    padding: 0 10px;
}

h1, h2, h3 { line-height: 1.2 }

pre {
    border: solid;
    border-width: 0.15rem;
    width: fit-content;
    padding: 0.5rem;
}
