body {
    color: #444;
}

div.sourceCode {
    border-color: #444;
    background: #f9f5d7;
    color: #3c3836;
}

span.kw,
span.cf,
span.at {
    color: #9d0006;
}
span.dt {
    color: #b57614;
}
span.dv {
    color: #8f3f71;
}
span.op {
    color: #af3a03;
}
