body {
    margin: 40px auto;
    max-width: 65rem;
    line-height: 1.5;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

div {
    width: fit-content;
}

div.sourceCode {
    border: solid;
    border-color: #444;
    border-width: 0.3rem;
}

pre.sourceCode {
    margin: 0.3rem;
}
